{% extends "base.html" %}

{% block title %}
    <title>Student Portal App</title>
{% endblock title %}

{% block home_active %}
class="active"
{% endblock home_active %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>Student Main Portal</h1>
            <h3>Ustacky student portal registration. Join us today for your coding course.</h3>
            <a href="{{ url_for('studentform') }}"><button  class="btn btn-primary" type="button">Get Started</button></a>
            
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/homepage.svg') }}" alt="">
        </div>
    </div>
{% endblock content %}